.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin: 2rem;
}
.video {
  height: 500px;
  width: auto;
  background: transparent;
  /* position: absolute; */
  /* opacity: 0.3; */
}
